@mixin notification{
    width: 90%;
    height: 35px;
    text-align: center;
    padding-top: 10px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    margin: 10px;
    @content;
}

.error {
    @include notification{
        background-color: darkred;
        color: white;
        border: 1px solid lightslategray;
    }

}

.success {
    @include notification{
        background-color: mediumseagreen;
        color: mintcream;
        border: 1px solid lightsalmon;
        width: 75%;
    }
}