html {
    font-family: Lato, sans-serif;
    box-sizing: border-box; /* quitar valor por defecto */
    font-size: 62.5%; /* va a modificar el tamaño de todas las unidades rem */
}

*, *::before, *::after { /* para quitar los valores por defecto */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.container-results {
    margin-top: 2em;
}

.container-homepage {
    height: 100vh;
    align-items: center;
    margin-top: 5em;
}

.homepage-logo {
    grid-column: 2; /* son 3 columnas y lo queremos en la del medio */
    grid-row: 1;
}

.homepage-logo img {
    width: 10.5rem;
}

.homepage-search-bar {
    grid-column: 1/-1; /* desde la primera columna, hasta la última */
    grid-row: 2;
}

.homepage-search-bar input {
    width: 66vw;
    height: 11.8rem;
    padding-left: 0.75em;
    /*
        em = porcentaje del elemento padre (en ese atributo)
        rem = lo mismo, pero teniendo en cuenta el root, no inheritance
    */
}

.homepage-search-bar input[type="text"] {
    font-size: 2.5em;
    font-family: Arial, 'Font Awesome\ 5 Free', Helvetica, sans-serif;
    font-weight: 600;
    color: #585858;
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.1);
    border: 0px solid transparent;
    border-radius: 0.5rem;
}

.homepage-search-bar input[type="text"]::placeholder {
    font-family: Arial, 'Font Awesome\ 5 Free', Helvetica, sans-serif;
    font-weight: 600;
    color: #a4a4a4;
}

.homepage-search-bar input[type="text"]:focus {
    outline: none;
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.3);
}

.homepage-search-bar p {
    color: #b3b3b3;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-top: 2.3rem;
    text-align: right;
}

.recent-posts-wrapper {
    grid-column: 1/-1;
    grid-row: 3;
}

.recent-posts-heading {
    color: #2660f3;
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.recent-posts {
    display: grid;
    width: 66vw;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2.5rem;
}

.recent-post-title {
    color: #585858;
    font-size: 1.4rem;
}

.recent-post-category {
    color: #999999;
    font-size: 1.2rem;
    font-weight: 600;
}

/* RESULTS PAGE STYLES */

.results-posts-wrapper {
    grid-row: 3;
    grid-column: 1/-1;
    width: 66vw;
}

.post {
    margin-top: 3em;
    margin-bottom: 3em;
}

.category-name {
    color: #2660f3;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.result-post-title a {
    color: #535353;
    text-decoration: none;
    font-size: 1.5rem;
}