/* form styles */

.form > .form-group {
	margin: 30px 0;
}

.form input {
	font-size: 1.5rem;
	font-family: inherit;
	color: inherit;
	padding: 1.5rem 2rem;
	border-radius: 2px;
	border: none;
	border-bottom: 3px solid #11122b;
	width: 100%;
	display: block;
	transition: all 0.3s;
}

.form input:focus {
	outline: none;
	box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
	border-bottom: 3px solid #cea135;
}

.form textarea {
	margin-top: 20px;
	width: 100%;
	height: 250px;
	border-radius: 3px;
	border: 3px solid #11122b;
	font-size: 1.5rem;
	color: inherit;
	font-family: inherit;
	padding: 1.5rem 2rem;
	transition: all 0.3s;
}

.form textarea:focus {
	outline: none;
	box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
	border: 3px solid #cea135;
}

/* gives us the hability to style the placeholder -> only works on some browsers */
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
	color: #11122b;
}

.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder {
	color: transparent; /* to make the placeholder dissapear when focus */
}

.form label {
	font-size: 1.2rem;
	font-weight: 700;
	margin-left: 2rem;
	margin-top: 0.7rem;
	display: block;
	transition: all 0.3s;
	color: #cea135;
	/* visibility */
	visibility: hidden; /* starts in an "invisible" point */
	/* opacity */
	opacity: 0;
}

/* selects the very first label of the input when focus, and shame with textareas */
.form input:focus + label, .form textarea:focus + label {
	/* pass from hidden and non opacity, to visible */
	opacity: 1;
	visibility: visible;
	/* animation of the label */
	transform: translateY(1rem); /* takes the label and moves it down 1rem */
}