@media (max-width: 1267px) {
	.navigation-wrapper {
		width: 100%;
		height: 100%;
		flex-direction: column;
	}
	.navigation-wrapper > .logo-links-wrapper {
		flex-direction: column;
		width: 80%;
	}
	.navigation-wrapper > .logo-links-wrapper > .links-column {
		width: 100%;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}
	.navigation-wrapper > .logo-links-wrapper > .links-column > .links-wrapper {
		width: 100%;
		justify-content: space-around;
	}
	.navigation-wrapper > .create-login-signup {
		width: 100%;
		justify-content: center;
	}

	.features-section {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.features-section > .left-section {
		width: 80%;
		margin: 0 0 50px;
	}

	.codepen-for-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.codepen-for-wrapper > .codepen-for-item {
		width: 100%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.navigation-wrapper > .logo-links-wrapper {
		width: 90%;
	}

	.features-section > .left-section {
		width: 90%;
		font-size: 0.5em;
		align-items: center;
	}
	.features-section > .left-section > .text-content > .top-header, .features-section > .left-section > .text-content > .bottom-header {
		width: 100%;
		text-align: center;
	}
	.features-section > .right-section img {
		width: 400px;
	}
}