.features-section {
	width: 100%;
	height: 530px;
	background-color: #40434d;
	box-shadow: inset -650px -200px 500px rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* left-section */

.features-section > .description-section {
	width: 700px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 60px;
}

.features-section > .description-section > .text-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	margin: 50px 0 45px;
}

.features-section > .description-section > .text-content > .top-header {
	width: 100%;
	color: #b8b9bd;
	font-weight: 300;
	font-size: 2.5em;
}

.features-section > .description-section > .text-content > .top-header strong {
	color: white;
}

/* couldn't find this as icon, so imported it as img */
.features-section > .description-section > .text-content > .top-header img {
	height: 40px;
	width: auto;
}

.features-section > .description-section > .text-content > .bottom-header {
	width: 650px;
	color: #b8b9bd;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.5em;
}

.features-section > .description-section > .buttons-wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
}

/* projects-section */

.features-section > .projects-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	gap: 8px;
}

.features-section > .projects-section > .img-header {
	color: white;
	font-size: 1.15em;
	font-weight: 700;
	margin-left: 15px;
}

.features-section > .projects-section > .img-header a {
	color: #86dfff;
	text-decoration: none;
}

.features-section > .projects-section > .img-header a:hover {
	color: #86ffff;
}

.features-section > .projects-section img {
	width: 550px;
	height: auto;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

/* codepen-for-wrapper */

.codepen-for-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

.codepen-for-wrapper > .codepen-for-item {
	background-color: #36383f;
	border: 1px solid #676767;
	padding: 20px 0;
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2em;
}

.codepen-for-wrapper > .codepen-for-item:hover {
	background-color: #5a5f73;
}

.codepen-for-wrapper > .codepen-for-item span {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.3em;
	letter-spacing: -2px;
}

/* page-end */

.page-end {
	width: 100%;
	height: 90px;
	background-color: #191a1d;
}