body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

p, li {
    font-family: 'PT Serif', serif;
}

.container {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 660px;
}

.style-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
    
}

.style-details-text {
    text-align: right;
    
    div {
        color: #808080;
        font-weight: normal;
    }
    
    h3 {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

.style-details-logo img {
    width: 100%; /* fills the column */
}

.dos-donts-wrapper {
    margin-top: 75px;
    margin-bottom: 75px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 30px;
}

.donts-image-box {
    text-align: center;
    margin-bottom: 20px;
    
    div {
        font-size: 14px;
        color: #999999;
    }
    
    img {
        width: 50%;
    }
}

.dos-donts-heading {
    font-weight: 900;
    margin-bottom: 20px;
    margin-left: 40px;
}

.blue-text {
    color: #0079ff;
}

.red-text {
    color: #dc0004;
}

.dos-donts-list li {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

.alternate-options-wrapper {
    margin-top: 75px;
    margin-bottom: 75px;
    
    h3 {
        color: #999999;
        font-size: 18px;
        font-weight: 900;
    }
    
    li {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 19px;
    }
}

.alternate-options-images {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 100px 40px; /* space-btw-rows space-btw-columns */
}

.image-logos {
    width: 60%;
}

.text-logos {
    width: 90%;
}

.additional-branding-detail {
    margin-top: 75px;
    margin-bottom: 75px;
    
    a {
        color: #4fb8e8;
        font-size: 19px;
    }
    
    p {
        margin-bottom: 42px;
    }
}

@media (max-width: 48em) {
    .style-details, .dos-donts-wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .style-details-text {
        text-align: center;
    }
}