@mixin flex-config($justify-content: false, $align-items: false, $flex-direction: false, $flex: false) {
    display: flex;

    @if $justify-content != false {
        justify-content: $justify-content;
    } @if $align-items != false {
        align-items: $align-items;
    } @if $flex-direction != false {
        flex-direction: $flex-direction;
    } @if $flex != false {
        flex: $flex;
    }
}

.container {
    @include flex-config;

    .item {
        @include flex-config($justify-content: space-between, $flex: 1);
        border: 1px solid grey;
        border-radius: 5px;
        margin-bottom: 10px;

        .content {
            @include flex-config;

            .metadata {
                @include flex-config($flex-direction: column, $justify-content: center);
                margin-left: 20px;

                .title {
                    margin: 0px;
                }
            }
        }

        .btn-group {
            @include flex-config($align-items: center);

            .button {
                height: 100%;
                width: 42px;
                font-size: 2em;
                @include flex-config($justify-content: center, $align-items: center, $flex-direction: row);

                a {
                    color: green;
                    text-decoration: none;
                }

                &:hover {
                    background-color: maroon;
                    cursor: pointer;

                    a {
                        color: white; 
                    }
                }
            }
        }
    }
}