.container {
    display: flex;
    .item {
        flex: 1;
        display: flex;
        justify-content: space-between;
        border: 1px solid grey;
        border-radius: 5px;
        margin-bottom: 10px;
        .content {
            display: flex;
            .metadata {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
                .title {
                    margin: 0px;
                }
            }
        }
        .btn-group {
            display: flex;
            align-items: center;
            .button {
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                width: 42px;
                justify-content: center;
                font-size: 2em;
                a {
                    color: green;
                    text-decoration: none;
                }
                &:hover {
                    background-color: maroon;
                    cursor: pointer;
                    a {
                        color: white; 
                    }
                }
            }
        }
    }
}