/* VARIABLES (at the top of the file) -> $ */
$off-white: #f6f6f6;
$featured-color: darkred;

@mixin featured {
    color: Tomato;
    
    .subheading a {
        color: cornflowerblue;
        text-decoration: none;

        &:hover {
            color: darkolivegreen;
            text-decoration: underline;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $off-white;
    height: 100vh;
    width: 100vw;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.page-wrapper {
    padding: 21px;
    $featured-color: royalblue;

    .featured {
        @include featured;
    }

    .page-content{
        background-color: $featured-color;
        padding: 42px;
        color: $off-white;

        .container {
            height: 60px !important;
            font-family: 'Courier New', Courier, monospace;

            .description {
                float: left;
                width: 75%;
            }

            .sidebar {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: right;
                float: right;
                width: 25%;
                @include featured;
            }
        }
    }
}
